table.admin_table {
	border: 1px solid #7c7c7c;
	padding: 0px;
}

td.admin_table {
	border: 1px solid #7c7c7c;
	margin: 0px;
}

div#updated {
	height: 35px;
	width: 98%;
	position: relative; left: 14px;
	background-color: #c8e3ff;
	border: 1px solid #8199b1;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px; 
	-khtml-border-radius:3px;
}
span#updated {
	font-weight: bold;
	position:relative;
	top: 25%;
}

.classlist {
	vertical-align: top;
	width: 350px;
}

.licey-markinput-field {
	font-size: 17px;
}

.licey-student-list-item {
	background-color: #fff;
	padding-bottom: 10px;
}

.edit-marks-table {
	font-size: 17px;
}

.licey-student-list-item input {
	float: right;
	display: none;
}

/* <Таблица оценок> */

.licey_show_marks_table, .licey_edit_marks_table {
	border-collapse: collapse;
	font-size: 17px;
}

.licey_show_marks_table span, .licey_edit_marks_table span {
	font-weight: bold;
}

.licey_show_marks_table td {
	border: 1px solid black;
	padding: 5px;
	min-width: 25px;
}

.licey_edit_marks_table td:nth-of-type(n+1) {
	position: relative;
	width: 60px;
}

.licey_edit_marks_table td:nth-of-type(1) {
	width: auto;
}

.licey_edit_marks_table input {
	width: 100%;
}

/* </Таблица оценок> */

/*<Таблица классов>*/
.licey_edit_schedule_table {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 8pt;
	border-collapse: collapse;
	margin: 10px 0 10px 0;
}

.licey_edit_schedule_table table {
	border-collapse: collapse;
}
.licey_edit_schedule_table td, .licey_edit_schedule_table th {
	border: 1px solid #D7D7D7;
	padding: 5px !important;
	text-align: center;
	min-width: 30px;
}

/*</Таблица классов>*/

/*<Редактирование ученика>*/
.licey_student_edit {
	float: left;
	padding: 10px;
}

.js .licey_student_edit div.edit_marks {
	display: none;
}

.licey_student_edit h2.edit_marks span {
	color: gray;
	font-weight: normal;
}
/*</Редактирование ученика>*/

/*<Таблица учителей>*/
.licey_edit_teachers_table {
	border-collapse: collapse;
	margin: 10px 0 10px 0;
}

.licey_edit_teachers_table span {
	font-size: 1.2em;
}
.licey_edit_teachers_table tr:first-of-type {
	font-weight: bold;
}
.licey_edit_teachers_table td {
	border: 1px solid #abc;
	padding: 5px;
}

.licey_edit_teachers_table .input-fio {
	width: 300px;
}

a.delete-teacher {
	display: block;
	width: 20px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	color: red;
	margin: auto;
	padding: 6px 4px 6px 4px;
	background: #EFEFEF;
	box-shadow: 1px 1px 1px #abc;
}

a.delete-teacher:hover {
	box-shadow: 3px 3px 1px #abc;
}

/*</Таблица учителей>*/

/*<Таблица предметов>*/
.licey_show_table_subjects, .licey_edit_table_subjects {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 8pt;
	border-collapse: collapse;
	margin: 10px 0 10px 0;
}

.licey_show_table_subjects td, .licey_edit_table_subjects td {
	border: 1px solid #D7D7D7;
	padding: 5px !important;
	text-align: center;
	min-width: 30px;
}

.licey_edit_table_subjects select {
	width: 100px;
}

/*</Таблица предметов>*/